{% extends "base.html" %}
{% block content %}

<h2>{{ _(category) }}</h2>

 {% if category == '教学素材' %}
  <div class="video-grid">
    {% for video in videos %}
      <div class="video-item">
        <a href="{{ url_for('static', filename='resources/ourvideos/' ~ video) }}" target="_blank">
          <img src="{{ url_for('static', filename='resources/thumbnails/' ~ video.rsplit('.', 1)[0] ~ '.jpg') }}"
              alt="thumbnail">
        </a>
        <p>{{ video }}</p>
      </div>
    {% endfor %}
  </div>

  <!-- 分页按钮 -->
  <div class="pagination">
    {% if page > 1 %}
      <a href="{{ url_for('main.works', page=page - 1) }}">&laquo; {{ _('上一页') }}</a>
    {% endif %}

    <span>{{ _('第') }} {{ page }} {{ _('页 / 共') }} {{ total_pages }} {{ _('页') }}</span>

    {% if page < total_pages %}
      <a href="{{ url_for('main.works', page=page + 1) }}">{{ _('下一页') }} &raquo;</a>
    {% endif %}
  </div>
{% else %}
  {% if not logged_in %}
    <p>{{ _('请登录后查看或下载资源。') }}</p>
    <a href="{{ url_for('main.resource_login') }}" class="btn-primary">{{ _('登录访问') }}</a>
  {% endif %}

  <ul>
    {% for file in files %}
      <li>
        {{ file }}
        {% if logged_in %}
          - <a href="{{ url_for('static', filename='resources/' ~ folder ~ '/' ~ file) }}" target="_blank">
            {{ _('下载' if folder == 'textbooks' else '观看') }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if logged_in %}
    <p><a href="{{ url_for('main.resource_logout') }}">{{ _('退出登录') }}</a></p>
  {% endif %}
{% endif %}
{% endblock %}
